.table-condensed {
	table-layout: fixed;
	width: 100%;
}
.table-condensed tr > * {
    padding: 0 8px;
	white-space: normal;
	word-wrap: break-word;
}
.text-sm {
    font-size: 14px
}
.modal .loading {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
}

.menu a:hover {
    text-decoration: none !important;
}

.menu-item:hover {
    background: rgb(243, 243, 243);
}